<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Forum thread:</b>
  <%= @post.forum_thread_id %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', forum_thread_posts_path(@post.forum_thread) %>