<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
  
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<% @category.forum_threads.each do |forum_thread| %>
  <%= link_to  forum_thread.title, forum_thread %><br>
<% end %>


<%= link_to 'New Thread', new_category_forum_thread_path(@category)%> |
<%= link_to 'Edit', edit_category_path(@category) if @current_user.admin? %> |
<%= link_to 'Back', categories_path %>
